body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.container-hotels {
    background-image: url("../img/background-hotels.jpg");
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

/* .site-navigation a:visited {
    color: #766357;
} */

.headline-introducing {
    background-color: #ffffff;
}

.headline {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.introduce {
    color: #333333;
    text-align: center;
}

/* .headline-introducing::before {
    position: absolute;
    display: inline-block;
    content: " ";
    background-image: url("../img/intro-mask.svg");
    background-repeat: no-repeat;
    width: 1203px;
    height: 59px;
    top: 508px;
} */

.reasons {
    line-height: 21px;
    text-align: center;
    list-style: none;
}

.real-city,
.devils-bridge {
    background-color: #81b3d2;
    color: #ffffff;
}

.additional-reasons {
    list-style: none;
    background-color: #ffffff;
}

.small-area,
.sightly-road,
.few-tourists {
    background-color: #eeeeee;
}

.reason-headline {
    font-size: 21px;
    font-weight: bold;
}

.additional-reasons .reason-headline,
.small-area .reason-headline,
.sightly-road .reason-headline,
.few-tourists .reason-headline {
    color: #000000;
}

.additional-reasons .reason-essence,
.small-area .reason-essence,
.sightly-road .reason-essence,
.few-tourists .reason-essence,
.small-area .reason-number,
.sightly-road .reason-number,
.few-tourists .reason-number {
    color: #333333;
}

.lodging::before {
    display: inline-block;
    content: "";
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}

.food::before {
    display: inline-block;
    content: "";
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
}

.souvenirs::before {
    display: inline-block;
    content: "";
    background-image: url("../img/icon-souvenir.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
}

.reason-number::before {
    content: " — ";
}

.reason-number::after {
    content: " — ";
}

.form-title {
    text-align: center;
}

.form-headline {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.form-button {
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    vertical-align: middle;
    background-color: #766357;
    font-weight: bold;
}

.form-button:hover {
    background-color: #604e43;
}

.form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.index-form {
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.index-form input {
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.index-form input:hover {
    background-color: #ebebeb;
}

.index-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.index-form input[type="submit"] {
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    vertical-align: middle;
    background-color: #81b3d2;
    font-weight: bold;
}

.index-form input[type="submit"]:hover {
    background-color: #669ec0;
}

.index-form input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.infrastructure,
.type-of-housing,
.cost-per-day {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;;
    text-align: left;
}

.filter label {
    color: #ffffff;
    line-height: 21px;
    text-align: left;
}

.button-show {
    color: #ffffff;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.button-show:hover {
    color: #000000;
    background-color: #ffffff;
}

.founded {
    font-size: 21px;
    font-weight: bold;
}

.sort,
.sorting-filter {
    font-size: 12px;
    line-height: 18px;
}

.sorting-filter {
    list-style: none;
}

.sorting-filter a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.sorting-filter a:hover {
    color: #81b3d2;
}

.sorting-filter a:active {
    color: #000000;
    text-decoration: none;
}

/* .sorting-filter a:visited {
    color: #81b3d2;
    text-decoration: none;
} */

.hotel-name {
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
    color: #333333;
    line-height: 21px;
}

.detail-button {
    color: #ffffff;
    font-weight: bold;
    line-height: 21px;
    background-color: #81b3d2;
}

.detail-button:hover {
    background-color: #669ec0;
}

.detail-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.book-button {
    color: #ffffff;
    font-weight: bold;
    line-height: 21px;
    background-color: #766357;
}

.book-button:hover {
    background-color: #604e43;
}

.book-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-stars {
    list-style: none;
}

.rating p{
    color: #666666;
    line-height: 21px;
    background-color: #f2f2f2;
}

.footer-back {
    opacity: 0.9;
}

.phone {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.phone a {
    color: #000000;
}

.contacts {
    list-style: none;
}

.contacts a {
    fill: #ffffff;
    background-color: #81b3d2;
}

.contacts a:hover {
    background-color: #669ec0;
}

.contacts a:active {
    background-color: #5496bd;
    fill-opacity: 0.3;
}

.copyright a {
    fill: #231f20;
}

.copyright a:hover {
    fill: #81b3d2;
}

.copyright a:active {
    fill: #bdbbbc;
}