body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
    display: flex;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
}

.main-navigation img {
    position: absolute;
    margin-left: 530px;
    margin-right: 530px;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 1200px;
    margin: 0px;
    padding: 0px;
}

.site-navigation li {
    min-width: 239px;
    min-height: 56px;
    text-align: center;
    line-height: 56px;
}

.site-navigation li:nth-child(2n) {
    margin-left: 0px;
    margin-right: 122px;
}

.site-navigation li:nth-child(4n-1) {
    margin-left: 122px;
    margin-right: 0px;
}

.site-navigation li:nth-child(4n) {
    margin-left: 0px;
    margin-right: 0px;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
}

.site-navigation a:hover {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
    color: #766357;
}

.welcome {
    background-color: #81b3d2;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 76px;
    padding-right: 370px;
    padding-bottom: 79px;
    padding-left: 371px;
}

.headline-introducing {
    min-height: 216px;
    padding-top: 50px;
    padding-right: 300px;
    padding-bottom: 50px;
    padding-left: 300px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.headline {
    width: 440px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.introduce {
    margin-top: 38px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: center;
    line-height: 26px;
    color: #333333;
}

.headline-introducing::before {
    position: absolute;
    display: inline-block;
    content: " ";
    background-image: url("../img/intro-mask.svg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 59px;
    margin-top: -106px;
    margin-left: -300px;
}

.reasons {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    line-height: 21px;
    text-align: center;
    list-style: none;
}

.real-city,
.devils-bridge {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    background-color: #81b3d2;
    color: #ffffff;
}

.devils-bridge {
    flex-direction: row-reverse;
}

.description {
    width: 400px;
    min-height: 256px;
    padding-top: 45px;
    padding-right: 60px;
    padding-bottom: 45px;
    padding-left: 60px;
    box-sizing: border-box;
}

.description h3 {
    width: 155px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto;
}

.description p {
    width: 280px;
    margin-top: 26px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.description-image {
    margin: 0;
    padding: 0;
    height: 256px;
}

.lodging,
.food,
.souvenirs {
    width: 400px;
    min-height: 330px;
    padding-top: 60px;
    padding-right: 55px;
    padding-bottom: 60px;
    padding-left: 55px;
    box-sizing: border-box;
}

.small-area,
.sightly-road,
.few-tourists {
    background-color: #eeeeee;
}

.reason-headline {
    font-size: 21px;
    font-weight: bold;
}

.lodging .reason-essence,
.food .reason-essence,
.souvenirs .reason-essence,
.small-area .reason-essence,
.sightly-road .reason-essence,
.few-tourists .reason-essence,
.small-area .reason-number,
.sightly-road .reason-number,
.few-tourists .reason-number {
    color: #333333;
}

.lodging .reason-headline,
.food .reason-headline,
.souvenirs .reason-headline {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.lodging .reason-essence,
.food .reason-essence,
.souvenirs .reason-essence {
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.lodging::before {
    display: inline-block;
    content: "";
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    width: 75px;
    height: 72px;
}

.food::before {
    display: inline-block;
    content: "";
    background-image: url("../img/icon-food.svg");
    background-repeat: no-repeat;
    width: 74px;
    height: 70px;
    margin-top: 2px;
}

.souvenirs::before {
    display: inline-block;
    content: "";
    background-image: url("../img/icon-souvenir.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 76px;
    margin-top: -3px;
}

.reason-number::before {
    content: " — ";
}

.reason-number::after {
    content: " — ";
}

.form-paragraph {
    min-height: 291px;
    padding-top: 50px;
    padding-right: 300px;
    padding-bottom: 0px;
    padding-left: 300px;
    box-sizing: border-box;
}

.form-title {
    width: 450px;
    min-height: 96px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    box-sizing: border-box;
    text-align: center;
}

.form-headline {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.form-description {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 24px;
    text-align: center;
}

.form-button {
    display: block;
    margin-top: 51px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 568px;
    line-height: 86px;
    color: #ffffff;
    font-size: 21px;
    text-align: center;
    background-color: #766357;
    font-weight: bold;
}

.form-button:hover {
    background-color: #604e43;
}

.form-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.index-form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 568px;
    min-height: 395px;
    margin-top: 0px;
    margin-right: 316px;
    margin-bottom: 0px;
    margin-left: 316px;
    padding: 55px;
    box-sizing: border-box;
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.description-date {
    display: flex;
    height: 38px;
    align-items: baseline;
    width: 458px;
    margin: 0px;
    margin-bottom: 30px;
}

.description-number {
    display: flex;
    height: 38px;
    align-items: baseline;
    width: 226px;
    margin: 0px;
    margin-bottom: 54px;
}

.description-date label {
    display: block;
    width: 95px;
    padding-right: 17px;
}

.description-number label {
    display: block;
    width: 95px;
    padding-right: 17px;
}

.description-date input {
    box-sizing: border-box;
    height: 38px;
    width: 346px;
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 13px;
}

.description-number input {
    box-sizing: border-box;
    height: 38px;
    width: 114px;
    min-height: 38px;
    text-align: center;
    vertical-align: middle;
}

.description-number-children {
    text-align: right;
}

.index-form input {
    font: inherit;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: none;
}

.index-form input:hover {
    background-color: #ebebeb;
}

.index-form input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.index-form input[type="submit"] {
    display: block;
    width: 100%;
    height: 58px;
    color: #ffffff;
    font-size: 21px;
    line-height: 58px;
    background-color: #81b3d2;
    border: none;
}

.index-form input[type="submit"]:hover {
    background-color: #669ec0;
}

.index-form input[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.filter {
    display: flex;
    width: 1200px;
    align-items: center;
    min-height: 217px;
    padding-top: 20px;
    padding-right: 74px;
    padding-bottom: 20px;
    padding-left: 72px;
    box-sizing: border-box;
    background-color: #81b3d2;
    background-image: url("../img/background-hotels.jpg");
    background-repeat: no-repeat;
    background-position: 0px -294px ;
}

.filter-infrastructure,
.filter-type-of-housing,
.filter-cost-per-day {
    margin: 0px;
    padding: 0px;
}

.filter-type-of-housing {
    margin-left: 115px;
}

.filter-cost-per-day {
    align-self: stretch;
    margin-left: auto;
}

.filter-infrastructure legend,
.filter-type-of-housing legend {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 28px;
    margin-left: 0px;
}

.filter-infrastructure p,
.filter-type-of-housing p {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 23px;
    margin-left: 0px;
}

.filter-infrastructure p:last-child,
.filter-type-of-housing p:last-child {
    margin-bottom: 0px;
}

.infrastructure,
.type-of-housing,
.cost-per-day {
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;;
    text-align: left;
}

.filter label {
    color: #ffffff;
    line-height: 21px;
    text-align: left;
}

.button-show {
    display: block;
    width: 133px;
    height: 32px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    color: #ffffff;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    background-color: transparent;
}

.button-show:hover {
    color: #000000;
    background-color: #ffffff;
}

.filter-string {
    display: flex;
    align-items: center;
    width: 1200px;
    min-height: 86px;
    padding-right: 72px;
    padding-left: 72px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.founded {
    margin-right: 49px;
    font-size: 21px;
    font-weight: bold;
}

.sort {
    margin-right: 40px;
    font-size: 12px;
    line-height: 18px;
}

.sorting-filter {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 18px;
}

.sorting-filter li {
    margin-right: 33px;
}

.sorting-filter a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.sorting-filter a:hover {
    color: #81b3d2;
}

.sorting-filter a:active {
    color: #000000;
    text-decoration: none;
}

.sorting-filter .active {
    color: #81b3d2;
    text-decoration: none;
}

.arrow-up {
    margin-left: auto;
}

.arrow-down {
    margin-left: 12px;
}

.hotel-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 25px;
    padding-right: 72px;
    padding-bottom: 25px;
    padding-left: 72px;
    box-sizing: border-box;
    width: 1200px;
    min-height: 150px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-card img {
    margin-right: 30px;
}

.head-hotel-name {
    margin: 0px;
}

.hotel-name {
    color: #000000;
}

.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
    display: inline-block;
    margin: 0px;
    width: 110px;
    height: 11px;
    margin-top: 17px;
    margin-right: 6px;
    margin-bottom: 17px;
    color: #333333;
    line-height: 11px;
}

.detail-button {
    display: inline-block;
    width: 110px;
    height: 27px;
    margin-right: 6px;
    color: #ffffff;
    font-weight: bold;
    line-height: 27px;
    background-color: #81b3d2;
    text-align: center;
}

.detail-button:hover {
    background-color: #669ec0;
}

.detail-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.book-button {
    display: inline-block;
    width: 142px;
    height: 27px;
    color: #ffffff;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    background-color: #766357;
}

.book-button:hover {
    background-color: #604e43;
}

.book-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-rating {
    margin-left: auto;
}

.hotel-stars {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 47px;
}

.hotel-stars li {
    width: 18px;
    height: 17px;
    margin-left: 5px;
}

.rating {
    width: 110px;
    margin: 0px;
    color: #666666;
    line-height: 27px;
    text-align: center;
    background-color: #f2f2f2;
}

.footer-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 120px;
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 0px;
    padding-right: 101px;
    padding-bottom: 0px;
    padding-left: 123px;;
}

.footer-index {
    margin-top: -120px;
}

.phone {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.phone a {
    color: #000000;
}

.contacts {
    display: flex;
    list-style: none;
    margin-left: -40px;
    padding: 0px;
}

.contacts li {
    margin-right: 6px
}

.contacts a {
    display: flex;
    width: 46px;
    height: 48px;
    fill: #ffffff;
    background-color: #81b3d2;;
    justify-content: center;
    align-items: center;
}

.contacts a:hover {
    background-color: #669ec0;
}

.contacts a:active {
    background-color: #5496bd;
    fill-opacity: 0.3;
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright p{
    display: flex;
    height: 41px;
    line-height: 41px;
    text-align: center;
}

.copyright a {
    margin-left: 6px;
    fill: #231f20;
}

.copyright a:hover {
    fill: #81b3d2;
}

.copyright a:active {
    fill: #bdbbbc;
}